@import "tailwindcss";

@font-face {
    font-family: 'Tanker';
    src: url('../font/Tanker_Complete/Tanker_Complete/Fonts/WEB/fonts/Tanker-Regular.woff2') format('woff2'),
        url('../font/Tanker_Complete/Tanker_Complete/Fonts/WEB/fonts/Tanker-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Space Grotesk';
    src: url('../font/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
    --font-display: 'Tanker', sans-serif;
    --font-body: 'Space Grotesk', sans-serif;
}
