@font-face {
    font-family: 'Tanker';
    src: url('../font/Tanker_Complete/Tanker_Complete/Fonts/WEB/fonts/Tanker-Regular.woff2') format('woff2'),
        url('../font/Tanker_Complete/Tanker_Complete/Fonts/WEB/fonts/Tanker-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Space Grotesk';
    src: url('../font/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@import "tailwindcss";

@theme {
    --font-display: 'Tanker', sans-serif;
    --font-body: 'Space Grotesk', sans-serif;
}

:root {
    --color-background: #17151a;
    --color-surface-light: #e7e4e8;
    --color-text: #f5f3f5;
    --color-text-dark: #17151a;
    --color-text-muted: #c8c4ca;
    --color-gray: #6e6963;
    --color-purple: #9d5cff;
    --color-medium-purple-50: #f9f5ff;
    --color-medium-purple-100: #f0e7ff;
    --color-medium-purple-200: #e3d3ff;
    --color-medium-purple-300: #cdb0ff;
    --color-medium-purple-400: #b07eff;
    --color-medium-purple-500: #9d5cff;
    --color-medium-purple-600: #7d2af3;
    --color-medium-purple-700: #691ad6;
    --color-medium-purple-800: #5b1aaf;
    --color-medium-purple-900: #4b178c;
    --color-medium-purple-950: #300269;
    --color-border: rgba(231, 228, 232, 0.24);
}
